
.calculator {
    width: 250px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color:greenyellow;
  }
  
  .display {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
    background-color: #9c50cf;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  button {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: brown;
    color: rgb(213, 223, 223);
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #9c50cf;
  }
  